<html>
    <head>
        <title>Welcome to github</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align:center;
            padding: 20px;
        }
        </style>
    </head>
    <body>
        <p>this is my html file</p>
        <P>this is third branch</P>
        <P>this is b2 branch</P>
        <P>this is b3 branch</P>
    </body>
</html>